.card-form {
  align-items: center;
  display: flex;
  flex-flow: column;
  height: 50vh;
  justify-content: start;
  width: 55vw;
}

.card-form-title {
  color: black;
  font-family: 'Nunito';
  font-size: 2.5vw;
  font-style: normal;
  font-weight: 800;
  margin-bottom: 10vh;
  text-align: center;
}

.card-form-body {
  background: #f0f0f0;
  border-radius: 1rem;
  display: flex;
  flex-flow: column;
  height: 175vh;
  padding: 2vw;
  width: 35vw;
}

.card-form-input-title, .super-trunfo-title, .rarity-title {
  align-items: center;
  color: black;
  font-family: 'Nunito';
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 700;
}

.card-form-input {
  background: white;
  border: none;
  border-radius: 0.5vw;
  box-shadow: 0 10px 15px #d6d6d6;
  font-family: 'Nunito';
  font-size: 1vw;
  font-weight: 400;
  height: 3vh;
  outline: none;
  padding: 1vw;
  transition: 0.5s;
  width: 33vw;
}

.card-form-input:focus {
  box-shadow: 0 15px 20px #b0b0b0;
}

.card-form-input-p {
  color: #a1a1a1;
  font-family: 'Nunito';
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}

.card-form-description-input {
  background: white;
  border: none;
  border-radius: 0.5vw;
  box-shadow: 0 10px 15px #d6d6d6;
  font-family: 'Nunito';
  font-size: 1vw;
  font-weight: 400;
  height: 15vh;
  outline: none;
  padding: 1vw;
  transition: 0.5s;
  width: 33vw;
}

.card-form-description-input::-webkit-scrollbar {
  display: none;
}

.card-form-description-input:focus {
  box-shadow: 0 15px 20px #b0b0b0;
}

.attr-inputs {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.attr-title {
  align-items: center;
  color: black;
  font-family: 'Nunito';
  font-size: 1.25vw;
  font-style: normal;
  font-weight: 700;
  text-align: center;
}

.attr-input {
  background: white;
  border: none;
  border-radius: 0.5vw;
  box-shadow: 0 10px 15px #d6d6d6;
  font-family: 'Nunito';
  font-size: 1vw;
  font-weight: 400;
  height: 3vh;
  outline: none;
  padding: 1vw;
  transition: 0.5s;
  width: 7vw;
}

.attr-input:focus {
  box-shadow: 0 15px 20px #b0b0b0;
}

.super-trunfo-container, .rarity-container {
  align-items: center;
  display: flex;
  flex-flow: row;
}

.super-trunfo-checkbox {
  box-shadow: 0 21px 19px #bdbdbd40;
  height: 2vh;
  margin-left: 2vw;
  outline: none;
  width: 2vw;
}

.rarity-select {
  background: white;
  border: none;
  border-radius: 0.5vw;
  box-shadow: 0 10px 15px #d6d6d6;
  color: black;
  font-family: 'Nunito';
  font-size: 1vw;
  font-weight: 400;
  height: 5vh;
  margin-left: 25px;
  outline: none;
  padding: 0.5vw;
  transition: 0.5s;
  width: 10vw;
}

.rarity-select:focus {
  box-shadow: 0 15px 20px #b0b0b0;
}

.save-card-btn {
  background: #405cf5;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 21px 19px rgba(189, 189, 189, 0.25);
  color: white;
  font-family: 'Nunito';
  font-size: 1vw;
  font-weight: 400;
  height: 7vh;
  left: 70vw;
  position: absolute;
  top: 245vh;
  transition: 0.2s ease-in-out;
  width: 9vw;
}

.save-card-btn:hover {
  background: white;
  border: 1px solid #405cf5;
  color: #405cf5;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.save-card-btn:disabled {
  background-color: #3a537938;
  border: none;
  color: white;
  cursor: default;
  transition: 0.2s ease-in-out;
}
