.card-body {
  background: #ced4d8;
  border: 1rem solid #fbfbfb
  border-radius: 0.5rem;
  width: 21.8rem;
}

.card-name {
  background: linear-gradient(268.41deg, #0084ff 0%, #b673eb 100%);
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 0.5rem 3rem;
}

.card-trunfo {
  background: linear-gradient(268.41deg, #0084ff 0%, #b673eb 100%);
  padding: 0.5rem 3rem;
}

.card-image {
  height: 11rem;
  margin-left: 5.5rem;
}

.card-rare {
  background: linear-gradient(268.41deg, #0084ff 0%, #eb73e1 100%);
  padding: 0.5rem 3rem;
}

.card-description {
  height: 10rem;
  overflow-y: scroll;
}

.card-description::-webkit-scrollbar, .card-description::-webkit-scrollbar-thumb {
  border: 1px solid #b673eb;
  width: 0.5rem;
}

.card-description::-webkit-scrollbar-thumb {
  background-color: #b673eb;
}

.card-attr {
  background: linear-gradient(210deg, #0084ff 0%, #eb73e1 100%);
  border-radius: 0 0 1rem 1rem;
  padding: 0.5rem 2rem;
}
