.card-form {
  align-items: center;
  display: flex;
  flex-flow: column;
  height: 1500px;
  justify-content: space-around;
  left: 89px;
  position: absolute;
  top: 1204px;
  width: 750px;
}

.card-form-title {
  bottom: 1400px;
  color: black;
  font-family: 'Nunito';
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  height: 89px;
  left: 225px;
  line-height: 89px;
  margin: 0;
  text-align: center;
  width: 300px;
}

.card-form-body {
  background: #f0f0f0;
  border-radius: 25px;
  display: flex;
  flex-flow: column;
  height: 1150px;
  padding: 50px;
  width: 600px;
}

.card-form-input-title, .super-trunfo-title, .rarity-title {
  align-items: center;
  color: black;
  font-family: 'Nunito';
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}

.card-form-input {
  background: white;
  border: none;
  border-radius: 15px;
  box-shadow: 0 21px 19px #bdbdbd40;
  font-family: 'Nunito';
  font-size: 20px;
  font-weight: 400;
  height: 25px;
  outline: none;
  padding: 1rem;
  width: 570px;
}

.card-form-input-text {
  color: #a1a1a1;
  font-family: 'Nunito';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}

.card-form-description-input {
  background: white;
  border: none;
  border-radius: 15px;
  box-shadow: 0 21px 19px #bdbdbd40;
  font-family: 'Nunito';
  font-size: 20px;
  font-weight: 400;
  height: 150px;
  outline: none;
  padding: 1rem;
  width: 570px;
}

.card-form-description-input::-webkit-scrollbar {
  display: none;
}

.attr-inputs {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.attr-title {
  align-items: center;
  color: black;
  font-family: 'Nunito';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
}

.attr-input {
  background: white;
  border: none;
  border-radius: 15px;
  box-shadow: 0 21px 19px #bdbdbd40;
  font-family: 'Nunito';
  font-size: 20px;
  font-weight: 400;
  height: 25px;
  outline: none;
  padding: 1rem;
  width: 115px;
}

.super-trunfo-container, .rarity-container {
  align-items: center;
  display: flex;
  flex-flow: row;
}

.super-trunfo-checkbox {
  box-shadow: 0 21px 19px #bdbdbd40;
  height: 20px;
  margin-left: 25px;
  outline: none;
  width: 20px;
}

.rarity-select {
  background: white;
  border: none;
  border-radius: 15px;
  box-shadow: 0 21px 19px #bdbdbd40;
  color: black;
  font-family: 'Nunito';
  font-size: 20px;
  font-weight: 400;
  height: 45px;
  margin-left: 25px;
  outline: none;
  padding: 0.5rem;
  width: 200px;
}

.save-card-btn {
  background: #405cf5;
  border: none;
  border-radius: 10px;
  box-shadow: 0 21px 19px rgba(189, 189, 189, 0.25);
  color: white;
  font-family: 'Nunito';
  font-size: 20px;
  font-weight: 400;
  height: 60px;
  left: 1150px;
  position: absolute;
  top: 1150px;
  transition: 0.2s ease-in-out;
  width: 150px;
}

.save-card-btn:hover {
  background: white;
  border: 1px solid #405cf5;
  color: #405cf5;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.save-card-btn:disabled {
  background-color: #3a537938;
  border: none;
  color: white;
  cursor: default;
  transition: 0.2s ease-in-out;
}
