.deck-filters-body {
  align-items: center;
  background: #bdbdbd40;
  box-shadow: 0 19px 25px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-flow: row;
  height: 55vh;
  margin-bottom: 15vh;
  margin-top: 2vh;
  width: 100%;
}

.deck-filters-description {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 1vw;
  width: 35vw;
}

.deck-filters-title {
  border-bottom: 1px solid #b0b0b0;
  color: black;
  font-family: 'Nunito';
  font-size: 4vw;
  font-style: normal;
  font-weight: 800;
  margin: 0;
  text-align: center;
  width: 25vw;
}

.deck-filters-text {
  align-items: center;
  color: #1e1e1e;
  display: flex;
  font-family: 'Roboto';
  font-size: 1.25vw;
  font-style: normal;
  font-weight: 400;
  line-height: 3.5vh;
  text-align: center;
  width: 28vw;
}

.deck-filters-input-title {
  align-items: center;
  color: black;
  font-family: 'Nunito';
  font-size: 1.25vw;
  font-style: normal;
  font-weight: 700;
}

.deck-filters-name {
  background: white;
  border: none;
  border-radius: 0.5vw;
  box-shadow: 0 21px 19px #bdbdbd40;
  font-family: 'Nunito';
  font-size: 1.25vw;
  font-weight: 400;
  height: 2vh;
  outline: none;
  padding: 1rem;
  width: 22vw;
}

.deck-filters-rare {
  background: white;
  border: none;
  border-radius: 0.5vw;
  box-shadow: 0 10px 15px #d6d6d6;
  color: black;
  font-family: 'Nunito';
  font-size: 1vw;
  font-weight: 400;
  height: 5vh;
  outline: none;
  padding: 0.5rem;
  transition: 0.5s;
  width: 20vw;
}

.deck-filters-trunfo {
  box-shadow: 0 21px 19px #bdbdbd40;
  height: 2.5vh;
  margin-left: 1vw;
  outline: none;
  width: 2.5vw;
}

.deck-filters-trunfo-container {
  align-items: center;
  display: flex;
  flex-flow: row;
}

.filter-btn {
  background: #405cf5;
  border: none;
  border-radius: 10px;
  box-shadow: 0 21px 19px rgba(189, 189, 189, 0.25);
  color: white;
  font-family: 'Nunito';
  font-size: 1vw;
  font-weight: 400;
  height: 7vh;
  margin: 2vh 0;
  transition: 0.2s ease-in-out;
  width: 9vw;
}

.filter-btn:hover {
  background: white;
  border: 1px solid #405cf5;
  color: #405cf5;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.deck-filters-pikachu {
  animation: pikachu-bounce-left 8s linear infinite;
  margin-left: 5vw;
  position: absolute;
  right: 0;
  width: 40vw;
}

@keyframes pikachu-bounce-left {

  0% {
    transform: scaleX(1) translateY(0);
  }

  50% {
    transform: scaleX(1) translateY(10px);
  }

  100% {
    transform: scaleX(1) translateY(0);
  }

}
