.form-body {
  border-radius: 0.5rem;
  color: #fbfbfe;
  font-family: Segoe UI , Tahoma , Geneva , Verdana , sans-serif;
  height: 25rem;
  margin-left: 10rem;
  padding: 1rem;
  width: 18rem;
}

.form-body h2 {
  text-align: center;
}

.name-space {
  align-items: left;
  display: flex;
  flex-direction: column;
}

.image-space {
  align-items: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.attribute-spaces {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
  justify-content: space-between;
  text-align: center;
}

.rarity-spaces, .trunfo-space {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.description-space {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.description-input {
  background-color: #161922;
  border: none;
  border-bottom: 2px solid #74a9f6;
  color: #fbfbfe;
  font-family: Segoe UI , Tahoma , Geneva , Verdana , sans-serif;
  height: 4rem;
  padding: 0.75rem;
  width: 100%;
}

.description-input:focus {
  background-color: #242425;
  outline: none;
  transition: 0.2s;
}

.save-btn {
  background-color: #003be5;
  border-style: none;
  color: white;
  margin-top: 1rem;
  padding: 0.8rem 2rem;
}

.save-btn:hover {
  background-color: #5a6894;
  transition: 0.2s;
}

.save-btn:disabled {
  background-color: #161922;
  transition: 0.2s;
}

.input-tag {
  background-color: #15141a;
  border: none;
  border-bottom: 2px solid #74a9f6;
  color: #fbfbfb;
  font-size: 14px;
  padding: 0.8rem;
}

.input-tag:focus {
  background-color: #242425;
  outline: none;
  transition: 0.2s;
}

.rare-input {
  background-color: #161922;
  border: none;
  color: white;
  height: 1.5rem;
  width: 7rem;
}

.trunfo-check {
  margin: 1rem;
}
