.form-body {
  background-color: white;
  border-radius: 0.5rem;
  color: #3d495c;
  height: 25rem;
  margin-left: 10rem;
  padding: 1rem;
  width: 18rem;
}

.name-space {
  align-items: left;
  display: flex;
  flex-direction: column;
}

.image-space {
  align-items: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.attribute-spaces {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
  justify-content: space-between;
  text-align: center;
}

.rarity-spaces, .trunfo-space {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.description-space {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.description-input {
  height: 7rem;
  width: 100%;
}

.save-btn {
  background-color: #003be5;
  border-style: none;
  color: white;
  margin-top: 1rem;
  padding: 0.8rem 2rem;
}

.input-tag {
  background-color: white;
  border: none;
  border-bottom: 1px solid #3d495c;
  color: #3d495c;
  font-size: 14px;
  padding: 0.8rem;
}

.input-tag:focus {
  background-color: hsl(0, 6%, 97%);
  outline: none;
  transition: 0.2s;
}

.rare-input {
  height: 1.5rem;
  width: 7rem;
}
