.form-body {
  background-color: #3a2641;
  border-radius: 0.5rem;
  color: white;
  height: 25rem;
  padding: 2rem;
  width: 18rem;
}

.name-space {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 2rem;
  justify-content: space-between;
}

.image-space {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 2rem;
  justify-content: space-between;
}

.attribute-spaces {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
  justify-content: space-between;
  text-align: center;
}

.rarity-spaces, .trunfo-space {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.description-space {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.description-input {
  height: 7rem;
  width: 100%;
}

.save-btn {
  background-color: white;
  border-style: none;
  padding: 0.5rem 1.5rem;
}

