.tryunfo-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header-title {
  background-color: #3a2641;
  box-shadow: black 0 0 5rem 0.2rem;
  color: white;
  margin: 0;
  padding: 2rem;
  position: fixed;
  text-align: center;
  width: 100%;
}
