.header-body {
  background: #de4141;
  height: 750px;
  position: absolute;
  width: 100%;
}

.header-title {
  border-bottom: 1px solid black;
  color: white;
  font-family: 'Nunito' , sans-serif;
  font-size: 145px;
  font-style: normal;
  font-weight: 800;
  height: 220px;
  left: 730px;
  position: absolute;
  text-align: center;
  top: 200px;
  width: 825px;
}

.header-text {
  color: white;
  font-family: 'Fredoka' , sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  height: 175px;
  left: 880px;
  line-height: 43px;
  position: absolute;
  text-align: center;
  top: 525px;
  width: 500px;
}

.pokeball-line-header {
  background: #393939;
  box-shadow: 0 19px 25px #00000040;
  height: 110px;
  position: absolute;
  top: 750px;
  width: 100%;
}

.gh-link {
  color: white;
  font-family: 'Nunito';
  font-weight: 600;
  left: 700px;
  position: absolute;
  text-decoration: none;
  top: 45px;
  transition: 0.2s;
}

.gh-link:hover {
  color: #de4141;
  transition: 0.2s;
}

.in-link {
  color: white;
  font-family: 'Nunito';
  font-weight: 600;
  left: 600px;
  position: absolute;
  text-decoration: none;
  top: 45px;
  transition: 0.2s;
}

.in-link:hover {
  color: #de4141;
  transition: 0.2s;
}

.pokeball-btn {
  background: white;
  border: 2rem solid #393939;
  border-radius: 100px;
  bottom: -50px;
  box-shadow: 0 19px 25px #00000040;
  height: 200px;
  left: 800px;
  position: absolute;
  transition: 0.3s;
  width: 200px;
}

.pokeball-btn:hover {
  background: #de4141;
  cursor: pointer;
  transition: 0.3s;
}

.pokeball-btn-text {
  color: black;
  font-family: 'Nunito';
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  text-align: center;
}

.header-eevee {
  height: 900px;
  left: -175px;
  position: absolute;
  top: -120px;
  width: 900px;
}

.header-pokeball-1 {
  animation: pokeball-spin-right 8s linear infinite;
  animation-timing-function: ease-in-out;
  height: 350px;
  left: 1200px;
  position: absolute;
  top: 15px;
  transform: rotate(10deg) scaleX(-1);
}

.header-pokeball-2 {
  animation: pokeball-spin-left 8s linear infinite;
  animation-timing-function: ease-in-out;
  height: 215px;
  left: 1450px;
  position: absolute;
  top: 525px;
  transform: rotate(-5deg);
}

@media screen and ( max-width : 1366px ) {

  .header-body {
    background: #de4141;
    height: 495px;
    position: absolute;
    width: 100%;
  }

  .header-title {
    border-bottom: 1px solid black;
    color: white;
    font-family: 'Nunito' , sans-serif;
    font-size: 105px;
    font-style: normal;
    font-weight: 800;
    height: 150px;
    left: 575px;
    position: absolute;
    text-align: center;
    top: 115px;
    width: 550px;
  }

  .header-text {
    color: white;
    font-family: 'Fredoka' , sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    height: 175px;
    left: 655px;
    position: absolute;
    text-align: center;
    top: 335px;
    width: 400px;
  }

  .pokeball-line-header {
    background: #393939;
    box-shadow: 0 19px 25px #00000040;
    height: 95px;
    left: 0;
    position: absolute;
    top: 495px;
    width: 100%;
  }

  .gh-link {
    color: white;
    font-family: 'Nunito';
    font-weight: 600;
    left: 500px;
    position: absolute;
    text-decoration: none;
    top: 35px;
    transition: 0.2s;
  }

  .gh-link:hover {
    color: #de4141;
    transition: 0.2s;
  }

  .in-link {
    color: white;
    font-family: 'Nunito';
    font-weight: 600;
    left: 400px;
    position: absolute;
    text-decoration: none;
    top: 35px;
    transition: 0.2s;
  }

  .in-link:hover {
    color: #de4141;
    transition: 0.2s;
  }


  .pokeball-btn {
    background: white;
    border: 2rem solid #393939;
    border-radius: 10rem;
    bottom: -50px;
    box-shadow: 0 19px 25px #00000040;
    height: 175px;
    left: 600px;
    position: absolute;
    transition: 0.3s;
    width: 175px;
  }

  .pokeball-btn:hover {
    background: #de4141;
    cursor: pointer;
    transition: 0.3s;
  }

  .pokeball-btn-text {
    color: black;
    font-family: 'Nunito';
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    text-align: center;
  }

  .header-eevee {
    height: 650px;
    left: -125px;
    position: absolute;
    top: -115px;
    width: 650px;
  }

  .header-pokeball-1 {
    animation: pokeball-spin-right 5s linear infinite;
    animation-timing-function: ease-in-out;
    height: 215px;
    left: 950px;
    position: absolute;
    top: 5px;
    transform: rotate(10deg) scaleX(-1);
  }

  .header-pokeball-2 {
    animation: pokeball-spin-left 8s linear infinite;
    animation-timing-function: ease-in-out;
    height: 150px;
    left: 1075px;
    position: absolute;
    top: 345px;
    transform: rotate(-5deg);
  }
}

@keyframes pokeball-spin-right {

  0% {
    transform: scaleX(-1) translateY(15px);
  }

  50% {
    transform: scaleX(-1) translateY(0);
  }

  100% {
    transform: scaleX(-1) translateY(15px);
  }

}

@keyframes pokeball-spin-left {

  0% {
    transform: scaleX(1) translateY(0);
  }

  50% {
    transform: scaleX(1) translateY(15px);
  }

  100% {
    transform: scaleX(1) translateY(0);
  }

}
