.header {
  align-items: center;
  background-color: #15141a;
  border-bottom: 1px solid #52525e;
  color: white;
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
}

.header-title, .header-subtitle {
  margin: 0.75rem;
}

.header-title {
  border-right: 1px solid white;
  padding: 0 2rem;
}

.header-subtitle {
  font-size: 0.75rem;
}

.github-link {
  color: white;
  margin-left: 50rem;
}
