.header-body {
  background: #de4141;
  height: 750px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.header-title {
  align-items: center;
  border-bottom: 1px solid black;
  color: white;
  display: flex;
  font-family: 'Nunito' , sans-serif;
  font-size: 145px;
  font-style: normal;
  font-weight: 800;
  height: 220px;
  left: 730px;
  line-height: 228px;
  position: absolute;
  text-align: center;
  top: 202px;
  width: 825px;
}

.header-text {
  align-items: center;
  color: white;
  display: flex;
  font-family: 'Fredoka' , sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  height: 175px;
  left: 880px;
  line-height: 43px;
  position: absolute;
  text-align: center;
  top: 483px;
  width: 500px;
}

.pokeball-line-header {
  background: #393939;
  box-shadow: 0 19px 25px #00000040;
  height: 110px;
  left: 0;
  position: absolute;
  top: 750px;
  width: 100%;
}

.pokeball-btn {
  background: white;
  border: 2rem solid #393939;
  border-radius: 10rem;
  bottom: -50px;
  box-shadow: 0 19px 25px #00000040;
  height: 196px;
  left: 862px;
  position: absolute;
  transition: 0.5s;
  width: 196px;
}

.pokeball-btn:hover {
  background: #de4141;
  cursor: pointer;
  transition: 0.5s;
}

.pokeball-btn-text {
  color: black;
  font-family: 'Nunito';
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  text-align: center;
}

.header-eevee {
  height: 914px;
  left: -154px;
  position: absolute;
  top: -120px;
  width: 896px;
}

.header-pokeball-1 {
  height: 350px;
  left: 1200px;
  position: absolute;
  top: 15px;
  transform: matrix(-0.99, -0.1, -0.1, 0.99, 0, 0);
}

.header-pokeball-2 {
  height: 215px;
  left: 1450px;
  position: absolute;
  top: 525px;
  transform: rotate(-5.74deg);
}
