body {
  background-color: white;
  margin: 0;
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

.app {
  align-items: center;
  display: flex;
  flex-flow: column;
}

.card-creation-section {
  display: flex;
  flex-direction: row;
  height: 200vh;
  justify-content: start;
  margin-top: 30vh;
  width: 100%;
}

.card-display-section {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: space-around;
}
